@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;600;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: auto;
}

html, #app {
  height: 100%;
}
  
img, video {
  max-width: 100% !important;
  height: auto !important;
}

@layer base {
  body {
    @apply bg-base-bg
  }

  h2 {
    @apply font-sans text-xl font-semibold
  }

  p {
    @apply font-serif font-light text-base tracking-wide leading-7;

    & + p {
      @apply mt-6
    }
  }

  a {
    @apply text-rose-quartz underline underline-offset-2 decoration-1 decoration-transparent hover:text-cerulean hover:decoration-current;
    transition: all 0.35s ease;
  }

  .container {
    @apply mx-auto 
  }
}

.container {

  @media (min-width: 1280px) {
    max-width: 1024px !important;
  }
}

.base-page-title {
  @apply text-3xl;
}


.blog-img {
  @apply my-5 md:mt-0;

  &--left,
  &--right {
    @apply md:w-1/2 lg:w-1/3
  }

  &--left {
    @apply md:float-left md:mr-5;
  }

  &--right {
    @apply md:float-right md:ml-5
  }
}